.App {
  text-align: center;
}

h4{
  text-align: left;
  padding-left: 12.5vw;
}

.idCard-box{
  width: 40em;
  border: 2px solid black;
  display: flex;
  margin: 1em;
}

.idCard-box img{
  width: 12em;
  height: 12em;
  padding: 0.5vw;
}

.idCard-box div{
  text-align: left;
  padding-left: 30px;
}


.box-black-border{
  width: 39em;
  border: 2px solid black;
  padding: 1vw;
  margin:1vh;
  text-align: left;
}

.creditCards-box{
  display: flex;
}

.credit-Card{
  margin:1vw;
  padding: 1vw;
  border-radius: 6px;
  border: 1px solid black;
  width: 18em;
  height: 8.5em;
}

.credit-Card img{
  height: 2vh;
}

.credit-Card div{
  text-align: right;
}
.credit-Card p{
  padding-left: 20px;
  text-align: left;
}

.credit-Card p:nth-child(1){
  text-align: right;
}

.credit-Card p:nth-child(2){
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.rating{
  font-size: 2em;
}

.driversCard{
  margin: 0.5em;
  padding: 1vw;
  display: flex;
  align-items: center;
  background-color: #455EB5;
  border-radius: 6px;
  color: white;
  width: 39em;
}

.driversCard img{
  border-radius: 50%;
  height: 9em;
  width: 9em;
  margin: 0 2em 0 5vw;
}

.driversCard div{
  text-align: left;
}


.Btn-Color-Changed{
  width: 8em;
  height: 3em;
  border-radius: 3px;
  color: white;
  margin: 3vw 0 3vw 20em ;
}


.clickable-picture{
  width: 10em;
  height: 10em;
  margin-left: 15em;
}

.dice{
  width: 7em;
  height: 7em;
}

.carousel{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 39em;
  border: 2px solid black;
  padding: 1vw;
  margin:1vh;
}

.carousel img{
  width: 10em;
  height: 10em;
}

.carousel button{
  height: 2.5em;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  
}

.carousel button:nth-child(1){
  border-right: 30px solid grey;
  border-left: 0;
  
}

.carousel button:nth-child(3){
  border-left: 30px solid grey;
  border-right: 0;
  
}

.numbersTable{
  width: 39em;
  border: 2px solid black;
  margin: 0.5em;
  padding: 2.5em 0 2.5em 3em ;

  display: flex;
  flex-wrap: wrap;

}

.numbersTable li{
  list-style-type: none;
  margin:0;
  border: 1px solid black;
  width: 7em;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;

}